@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: linear-gradient(rgba(219, 243, 81, 0.2), rgba(205, 231, 75, 0.2)), url('https://www.bing.com/th/id/OGC.93c744bcde1780c94bb1d3f03991f8a7?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fvLkV3MUnx80W4%2fgiphy.gif&ehk=X46%2f1zvlnUVsMTpC3uzPpe8BoBj6%2bsg9cQcRbJgYkA0%3d'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: center;
    
    
    margin: 0;
}

.title {
    height: 10px;
	padding: 150px 0;
    margin: 0 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: rgb(0, 0, 0);
	font-size: 60px;
	letter-spacing: 10px;
	font-family: "Carrois Gothic", sans-serif;
	text-align: center;
    text-shadow: #fff;
	margin-bottom: 209px;
}

.white {
	background: #fff;
	width: 100%;
}

.desc {
	color: rgb(23, 32, 93);
	font-size: 20px;
	padding-top: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.summary {
	font-family: 'Open Sans', sans-serif;
	padding: 50px;
	font-size: 17px;
	line-height: 25px;
	font-weight: 500;
}

.timeline {
	width: 66%;
}

.timeline h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 32px;
	text-align: center;
    letter-spacing: 2px;
}

.timeline .divider {
	border-bottom: 3px solid rgb(23, 32, 93);
	width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.timeline li {
	font-size: 18px;
}

.timeline h3 {
	margin-top: 50px;
	text-align: center;
	position: relative;
}

.timeline h3:before {
	content: '“';
	font-family: Georgia, serif;
	font-size: 50px;
	position: absolute;
	top: -10px;
	margin-left: -22px;
}

.timeline h3:after {
	content: '”';
	font-family: Georgia, serif;
	font-size: 50px;
	position: absolute;
	bottom: -30px;
}

.timeline h4 {
	text-align: center;
	font-style: italic;
	color: rgba(51, 51, 51, 0.8);
	margin-top: 10px;
	margin-bottom: 70px;
}

.timeline h1 {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}


HTML {
	font-size: 100%;
	line-height: 1.5;
	box-sizing: border-box;
  }
  
  BODY {
	min-height: 300vh;
	color: #272525;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
	color: inherit;
  }
  
  IMG {
	max-width: 100%;
  }
  
  UL { list-style: none; }
  A { text-decoration: none; }
  MAIN { font-size: 2em; }
  
  
  
  .floating-btn {
	position: fixed;
    left: 1em;
    bottom: 1em;
    padding: 1.7em 1em;
    border: none;
    border-radius: 50%;
    background: #fff0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0%);
    cursor: pointer;
    z-index: 60;
    outline: none;
  }
  
  .menu-overlay-trigger:checked ~ .floating-btn {
	  background: #181717;
  }
  
 
  .menu-overlay {
	position: fixed;
	left: 2.5em;
	bottom: 2.5em;
	padding: 1em;
	background-color: rgba(78, 198, 170, .9);
	background-image: url(http://imgh.us/chihuahua-1920.jpg);
	background-size: cover;
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	text-align: center;
	transform: scale(1);
	transform-origin: 25% 75%;
	transition: transform .4s, opacity .01s .2s;
  }
  
  .menu-overlay-trigger:checked ~ .menu-overlay {
	transform: scale(200);
	z-index: 50;
	opacity: 1;
	transition: transform .9s, opacity .05s;
  }
  
  
  .navigation {
	visibility: hidden;
	position: fixed;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
	background: rgb(247 252 220); 
	transition: visibility .5s, opacity .1s;
  }
  
  .menu-overlay-trigger:checked ~ .navigation {
	visibility: visible;
	opacity: 1;
	z-index: 50;
	transition-delay: 0.2s;
  }
  
  
  .menu {
	padding: 0;
	max-height: 90vh;
	overflow-x: auto;
	text-align: center;
  }
  
  .menu__item {
	color: #6a2b2b;
	font-size: 3.5em;
  }
  
  .menu__item A {
	display: block;
	color: inherit;
  }
  
  
  
  .menu__item:hover A {
	text-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  }
  
  .menu-overlay-trigger:checked ~ .floating-btn .menu-icon {
	background: transparent;
  }
  
  .menu-icon {
	display: block;
	width: 2em;
	height: .3em;
	background: #000;
  }
  
  .menu-icon:before,
  .menu-icon:after {
	content: "";
	position: absolute;
	left: 1em;
	display: block;
	width: 2em;
	height: .3em;
	transform: rotate(0);
	background: inherit;
	transition: transform .2s;
  }
  
  .menu-overlay-trigger:checked ~ .floating-btn .menu-icon:before,
  .menu-overlay-trigger:checked ~ .floating-btn .menu-icon:after {
	background: #fff;
  }
  
  .menu-icon:before {
	top: 2.3em;
  }
  
  .menu-icon:after {
	bottom: 2.3em;
  }
  
  .menu-overlay-trigger:checked ~ .floating-btn .menu-icon:before {
	top: 1.7em;
	transform: rotate(45deg);
  }
  
  .menu-overlay-trigger:checked ~ .floating-btn .menu-icon:after {
	bottom: 1.7em;
	transform: rotate(-45deg);
  }
  
  
  @media only screen and (min-width: 700px) {
	
	.menu-overlay-trigger:checked ~ .floating-btn .menu-icon:before {
	  top: 2.2em;
	}
  
	.menu-overlay-trigger:checked ~ .floating-btn .menu-icon:after {
	   bottom: 2.2em;
	}
	
	.menu-icon {
	  width: 3em;
	}
  
	.menu-icon:before, 
	.menu-icon:after {
		left: 1em;
		width: 3em;
	}
	
	.menu-icon:before {
	  top: 2.8em;
	}
  
	.menu-icon:after {
	  bottom: 2.8em;
	}
  
	.floating-btn {
	   padding: 2.2em 1em;
	}
	
	
	
  }
  
  
  
  
  
  
  
 
  .off-screen {
	position: fixed; 
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: none;
	overflow: hidden;
	clip-path: inset(100%);
	clip: rect(0 0 0 0); 
	white-space: nowrap; 
  }
  







